.paintArea {
    min-height: 75vh;
    width: 95vw;
    margin: auto;
    margin-top: 1%;
    position: relative;
    box-shadow: 2px 5px 5px 5px grey;
}

.background {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    opacity: 0.6;
}

.canvas {
    border: 1px solid grey;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    cursor: crosshair;
}

@media (min-width: 992px) {
    .paintArea {
        min-height: 85vh;
    }
}
