.paintArea {
    min-height: 90vh;
    background-color: red;
}

.paintRow {
    height: 100%;
    background-color: green;
}

.canvas {
    background-color: lightblue;
    border: 1px solid grey;
    display: block;
    margin: auto;
}
